.support-box-container {
    margin: 10px 0px 0px 40px !important;
}

.contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.support-box-form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 6px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input-container label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.support-box-form-container input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 40px;
    padding: 11px 40px 11px 16px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 3px 0px inset;
    border: 1px solid rgb(225, 225, 225);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    background: rgb(250, 250, 250);
    appearance: none;
    outline: n;
}

.support-box-form-container button {
    padding: 10px;
    width: 75px;
    background-color: rgb(103, 58, 183);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.feedback-button-container {
    display: flex;
    justify-content: space-between;
}

.feedback-button-container .feedback-button {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(229, 238, 255);
    color: rgb(0, 52, 153);
    cursor: pointer;
}

.feedback-button-container .feedback-button:hover {
    color: rgb(229, 238, 255);
    background-color: rgb(0, 52, 153);
}