.support-box-container {
    margin: 10px 0px 0px 40px !important;
}

.contact-header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.support-box-form-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 6px;
}

.support-box-form-container input {
    padding: 4px 12px;
    height: 1.8rem;
    font-size: 13px;
    border: 1px solid #ececec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.support-box-form-container button {
    padding: 10px;
    width: 75px;
    background-color: rgb(103, 58, 183);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}