@forward './_components/header';
@forward './_components/message-container';
@forward './_components/scroll-button';
@forward './_components/suggested-questions';
@forward './_components/bot-message';
@forward './_components/lead-message';
@forward './_components/bot-sources';
@forward './_components/bot-rating';
@forward './_components/bot-support';
@forward './_components/streamdown';
@forward './_components/user-message';
@forward './_components/footer';
@forward './_components/input';
@forward './_components/submit-button';
@forward './_components/credits';

.docsbot-screen-reader-only {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	position: absolute !important;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.mobile-close-button {
	color: #fff;
	text-align: center;
	display: none;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(41, 52, 62);
	border-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 8px inset;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 6px;
	font-size: 12.8px;
	z-index: 99999999;
}

.mobile-close-button-label {
	margin-left: 5px;
}

.docsbot-chat-bot-avatar-container {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	font-size: 19.2px;
	margin-right: 8px;
	background-color: var(--docsbot-color-main, #d8d8d8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.docsbot-chat-bot-avatar-icon {
	fill: #494646;
	display: flex;
	justify-content: center;
}

.docsbot-chat-bot-avatar-icon img {
	width: 60%;
	height: auto;
}

.docsbot-chat-bot-message-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	line-height: 19px;
	margin-top: 16px;
}

.docsbot-chat-bot-loading-icon-container {
	height: 17px;
	width: 25px;
}

.chatbot-loader-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
	animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
	animation: load 1s infinite;
	animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
	animation: load 1s infinite;
	animation-delay: 0.4s;
}

@keyframes load {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.docsbot-chat-inner-container {
	height: 100%;
	background-color: #fff;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

@media print {
	.docsbot-wrapper {
		display: none !important;
	}
}
