@forward './_components/header';
@forward './_components/message-container';
@forward './_components/suggested-questions';
@forward './_components/bot-message';
@forward './_components/user-message';
@forward './_components/footer';
@forward './_components/input';
@forward './_components/submit-button';
@forward './_components/credits';

.docsbot-screen-reader-only {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	position: absolute !important;
	margin: -1px;
	padding: 0;
	border: 0;
	word-wrap: normal !important;
}

.mobile-close-button {
	color: #fff;
	text-align: center;
	display: none;
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(41, 52, 62);
	border-radius: 0px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 8px inset;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 6px;
	font-size: 12.8px;
	z-index: 99999999;
}

.mobile-close-button-label {
	margin-left: 5px;
}

.docsbot-chat-bot-avatar-container {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	font-size: 19.2px;
	margin-right: 8px;
	background-color: var(--docsbot-color-main, #d8d8d8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.docsbot-chat-bot-avatar-icon {
	fill: #494646;
	display: flex;
	justify-content: center;
}

.docsbot-chat-bot-avatar-icon img {
	width: 60%;
	height: auto;
}

.docsbot-chat-bot-message-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	line-height: 19px;
	margin-top: 16px;
}

.docbot-chat-bot-message-rate {
	display: flex;
	align-items: center;
	justify-content: end;
	flex: 1;
}

.docbot-chat-bot-message-rate button {
	opacity: 0.6;
}

.docbot-chat-bot-message-rate button:hover {
	opacity: 1;
	color: #037103;
}

.docbot-chat-bot-message-rate button:last-child:hover {
	opacity: 1;
	color: #cc0000;
}

.docbot-chat-bot-message-rate button:last-child {
	margin-left: 5px;
}

.docsbot-chat-bot-loading-icon-container {
	height: 17px;
	width: 25px;
}

.chatbot-loader-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
	animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
	animation: load 1s infinite;
	animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
	animation: load 1s infinite;
	animation-delay: 0.4s;
}

@keyframes load {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.docsbot-chat-inner-container {
	height: 100%;
	background-color: #fff;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.docsbot-chat-bot-message p {
	margin-top: 0;
}

.docsbot-chat-bot-message p:last-child {
	margin-bottom: 0;
}

.docsbot-chat-bot-message ol,
.docsbot-chat-bot-message ul {
	padding-left: 25px;
}

.docsbot-chat-bot-message button {
	border: 0;
	background: transparent;
	color: inherit;
	font-weight: bold;
	padding: 0;
	cursor: pointer;
}

.docsbot-chat-bot-message button svg {
	margin-left: 8px;
}

.docsbot-chat-bot-message img {
	max-width: 100%;
}

/* Default table styles */
.docsbot-chat-bot-message table {
	font-size: 0.85714em;
	line-height: 1.5;
	width: 100%;
	table-layout: auto;
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
	border-collapse: collapse;
}

.docsbot-chat-bot-message thead {
	border-bottom: 1px #a3a3a3 solid;
}

.docsbot-chat-bot-message thead th {
	font-weight: 600;
	vertical-align: bottom;
	padding: 0 3px 4px 3px;
}

.docsbot-chat-bot-message tbody tr {
	border-bottom: 1px #a3a3a3 solid;
}

.docsbot-chat-bot-message tbody tr:last-child {
	border-bottom-width: 0;
}

.docsbot-chat-bot-message tbody td {
	vertical-align: baseline;
	padding: 4px 3px;
}

.docsbot-chat-bot-message tfoot {
	border-top: 1px #a3a3a3 solid;
}

.docsbot-chat-bot-message tfoot td {
	vertical-align: top;
	padding: 4px 3px;
}

.docsbot-chat-bot-message thead th:first-child,
.docsbot-chat-bot-message tbody td:first-child,
.docsbot-chat-bot-message tfoot td:first-child {
	padding-left: 0;
}

.docsbot-chat-bot-message thead th:last-child,
.docsbot-chat-bot-message tbody td:last-child,
.docsbot-chat-bot-message tfoot td:last-child {
	padding-right: 0;
}

.docsbot-chat-bot-message .docsbot-sources svg {
	margin-right: 8px;
}

.docsbot-chat-bot-message .docsbot-sources {
	list-style: none;
	margin: 4px 0;
	padding: 0;
	font-size: 13px;
	line-height: 19px;
}

.docsbot-chat-bot-message .docsbot-sources:last-child {
	margin-bottom: 0;
}

.docsbot-chat-bot-message .docsbot-sources li {
	color: inherit;
	display: flex-inline;
	align-items: center;
	margin-bottom: 8px;
}

.docsbot-chat-bot-message .docsbot-sources li:last-child {
	margin-bottom: 0;
}

.docsbot-chat-bot-message .docsbot-sources a {
	text-decoration: none;
	color: inherit;
}

.docsbot-chat-bot-message .docsbot-sources a:hover {
	text-decoration: underline;
}

.docsbot-chat-bot-message-support {
	display: flex;
	justify-content: end;
	margin-top: 25px;
}

.docsbot-chat-bot-message-support a {
	color: #4b4b4b;
	font-size: 12.8px;
	text-decoration: none;
	padding: 4px 0px;
	background: #f9fafa;
	border: 0.5px solid #f9fafa;
	opacity: 0.8;
	position: relative;
}

.docsbot-chat-bot-message-support a:hover {
	opacity: 1;
	border-radius: 0;
	border: 0.5px solid #f9fafa;
	background-color: #f9fafa !important;
}

.docsbot-chat-bot-message-support a::after {
	content: '';
	position: absolute;
	width: 100%;
	background-color: #4b4b4b;
	height: 2px;
	left: 0;
	bottom: 0;
	transform: scale(0, 1);
	transition: transform 0.3s ease;
}

.docsbot-chat-bot-message-support a:hover::after {
	transform: scale(1, 1);
	border-radius: 0;
}

.floating-button img {
	width: 24px;
	height: auto;
}

@media print {
	.docsbot-wrapper {
		display: none !important;
	}
}
