@config "../../../tailwind.config.js";
@import "tailwindcss";

@source "../../components/**/**/*.js";
@source "../../../node_modules/streamdown/dist/*.js";

@import "./_utils/_tailwind/_theme.css";
@import "./_utils/_tailwind/_base.css";
@import "./_utils/_tailwind/_overwrites.css";
