@use '../_utils/tokens' as *;

@mixin resized-header {
	padding: ($spacing-xs * 3) $spacing-md;

	.docsbot-chat-header {
		// Element: .docsbot-chat-header-button
		&-button {
			pointer-events: all;
			visibility: visible;
			opacity: 1;
		}

		// Element: .docsbot-chat-header-title
		&-title {
			font-size: 14px;
			line-height: 16px;
		}

		// Element: .docsbot-chat-header-subtitle
		&-subtitle {
			display: none;
		}

		// Element: .docsbot-chat-header-branded
		&-branded {
			img {
				max-height: 24px;
			}
		}

		// Element: .docsbot-chat-header-background-wrapper
		&-background-wrapper {
			display: none;
		}
	}
}

.docsbot-chat-header {
	padding: $spacing-xl $spacing-lg;
	background: var(--docsbot-header--bg, $color-primary-200);
	color: var(--docsbot-header--color, $color-neutral-100);
	text-align: center;
	transition: padding $transition-duration-short linear;

	// Element: .docsbot-chat-header-inner
	&-inner {
		position: relative;
	}

	// Element: .docsbot-chat-header-content
	&-content {
		z-index: 99999998;
	}

	// Element: .docsbot-chat-header-button
	&-button {
		cursor: pointer;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		width: 28px;
		height: 28px;
		position: absolute;
		z-index: 99999999;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0;
		border: 2px solid var(--docsbot-reset-button--bg, $color-primary-200);
		border-radius: $spacing-sm;
		background: var(--docsbot-reset-button--bg, $color-primary-200);
		color: var(--docsbot-reset-button--color, $color-neutral-300);
		transition: opacity $transition-duration-default ease;

		svg {
			transition:
				border $transition-duration-short ease,
				transform $transition-duration-short linear;
		}

		&:hover,
		&:focus {
			border-color: var(--docsbot-reset-button--color, $color-neutral-300);
			outline: none;
		}

		&:active {
			svg {
				transform: rotate(45deg);
			}
		}
	}

	// Element: .docsbot-chat-header-title
	&-title {
		margin: 0;
		padding: 0;
		border: 0;
		font-family: $font-family;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		transition: all $transition-duration-short ease;
	}

	// Element: .docsbot-chat-header-subtitle
	&-subtitle {
		display: block;
		margin-top: 6px;
		font-family: $font-family;
		font-weight: 400;
		font-size: 13px;
		line-height: 19px;
	}

	// Element: .docsbot-chat-header-branded
	&-branded {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			display: block;
			max-width: 50%;
			height: auto;
			max-height: 36px;
		}
	}

	// Element: .docsbot-chat-header-background-wrapper
	&-background-wrapper {
		height: 40px;
		overflow: hidden;
		position: absolute;
		z-index: 99999997;
		left: -#{$spacing-lg};
		right: -#{$spacing-lg};
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
	}

	// Element: .docsbot-chat-header-background
	&-background {
		width: 6000px;
		height: 6000px;
		position: absolute;
		bottom: 0;
		left: 50%;
		border-radius: 50%;
		transform: translateX(-3000px);
		background-color: var(--docsbot-color-main, $color-primary-200);
	}
}

// Floating chat
.docsbot-floating .docsbot-chat-header {
	@media screen and (max-height: 550px) {
		@include resized-header;
	}

	// Modifier: .is-small
	&.is-small {
		@include resized-header;
	}
}

// Embedded chat (Unbranded)
.docsbot-embedded .unbranded {
	&.docsbot-chat-header {
		padding: $spacing-sm $spacing-md;

		// Element: .docsbot-chat-header-inner
		.docsbot-chat-header-inner {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}

		// Element: .docsbot-chat-header-button
		.docsbot-chat-header-button {
			pointer-events: all;
			visibility: visible;
			opacity: 1;
			position: relative;
			top: auto;
			right: auto;
			transform: translateY(0);
		}
	}
}