@use '../_utils/utils' as *;

.docsbot-chat-suggested-questions {
	&-container {
		display: block;
		margin-top: $spacing-sm;
		padding-right: $spacing-xl;
	}

	&-title {
		display: inline-block;
		padding: $spacing-md;
		border-radius: $spacing-xs * 3;
		border-top-left-radius: $spacing-xs;
		background: $color-secondary-400;
		color: $color-neutral-100;
		font-family: $font-family;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	&-grid {
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		margin-top: $spacing-sm;
	}

	&-button {
		@include bubble-button;
	}
}