@use '../_utils/utils' as *;

.docsbot-user-chat-message {
	@include bubble-message(
		'right',
		var(--docsbot-user--bg, $color-primary-200),
		var(--docsbot-user--color, $color-neutral-100)
	);

	// Handle text alignment based on content direction
	span[dir="auto"] {
		text-align: start;
		unicode-bidi: plaintext;
	}

	p {
		margin: 0;
		text-align: start;
	}

	&-container {
		display: flex;
		justify-content: flex-end;
		padding-left: $spacing-xl;
	}
}
