.react-chatbot-kit-chat-bot-message p {
    margin-top: 0;
}

.react-chatbot-kit-chat-bot-message p:last-child {
    margin-bottom: 0;
}

.react-chatbot-kit-chat-bot-message button {
    border: 0;
    background: transparent;
    color: inherit;
    font-weight: bold;
    padding: 0;
    margin-top: 0.5em;
    cursor: pointer;
}

.react-chatbot-kit-chat-bot-message .docsbot-sources {
    list-style: none;
    padding: 0;
    font-size: 90%;
}
.react-chatbot-kit-chat-bot-message .docsbot-sources li {
    color: inherit;
    display: flex-inline;
    align-items: center;
}
.react-chatbot-kit-chat-bot-message .docsbot-sources li > *:first {
    margin-right: 0.25em;
}
.react-chatbot-kit-chat-bot-message .docsbot-sources a {
    text-decoration: none;
    color: inherit;
}
.react-chatbot-kit-chat-bot-message .docsbot-sources a:hover {
    text-decoration: underline;
}