.floating-button {
  position: fixed;
  min-width: 55px;
  height: 55px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.floating-button.has-label {
  padding: 0 20px;
}

.floating-button span {
  margin-left: 10px;
}

.floating-button:active {
  box-shadow: 1px 1px 2px #999;
}