#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.docsbot-wrapper {
  width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px 13px rgb(91 81 81 / 40%);
  position: fixed;
  right: 20px;
  bottom: 100px;
}

.docsbot-chat-container {
  background-color: rgb(249, 250, 250);
  border-radius: 5px;
  height: 600px;
  animation: fadeIn 0.5s;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.docsbot-chat-bot-message {
  width: auto;
  margin-left: 0;
}

/* on mobile make the chat window full screen */
@media (max-width: 768px) {
  .docsbot-wrapper {
    width: 100%;
    right: 0;
    border-radius: 0;
  }
  .docsbot-chat-inner-container {
    height: 100%;
    border-radius: 0;
  }
}
