@use '../tokens' as *;

@mixin bubble-message($position: 'left', $background: null, $color: null) {
	position: relative;
	padding: $spacing-md;
	border-radius: $spacing-xs * 3;
	@if $position == 'left' {
		border-top-left-radius: $spacing-xs;
	} @else if $position == 'right' {
		border-top-right-radius: $spacing-xs;
		padding: $spacing-sm $spacing-md;
	}
	@if $background != null {
		background: $background;
	}
	@if $color != null {
		color: $color;
	}
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: start;
	overflow-wrap: break-word;
	overflow: hidden;
}
