.button-container{
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.docsbot-iframe-box{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    border-radius: 10px;
    border: 1px solid #ded4d4;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px;
    text-align: center;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .docsbot-wrapper {
    width: 100%;
    opacity: 1;
    display: block;
    z-index: 999999;
    height: 100%;
    line-height: 16px;
  }
  
  .docsbot-wrapper.docsbot-left {
    left: 20px;
    right: unset;
  }
  
  .docsbot-chat-container {
    border-radius: 10px;
    background-color: rgb(249, 250, 250);
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .docsbot-chat-bot-message {
    width: auto;
    margin-left: 0;
  }
  
  @media (max-width: 650px){
    .docsbot-iframe-box{
      width: 450px;
      height: 350px;
    }
  }

  /* on mobile make the chat window full screen */
  @media (max-width: 480px) {
    .docsbot-iframe-box{
      width: 100%;
      height: 300px;
    }
    .docsbot-wrapper {
      width: 100%;
      right: 0;
      border-radius: 0;
      bottom: 0;
      top: 0;
      height: 100%;
      max-height: 100vh;
      min-height: revert;
    }
    .docsbot-wrapper.docsbot-left {
      left: 0;
      right: unset;
    }
    .floating-button.is-open {
      display: none;
    }
    .mobile-close-button {
      display: flex;
    }
    .docsbot-chat-inner-container {
      height: 100%;
      /* border-radius: 0; */
    }
  }
  