.initial-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.initial-option-button {
  padding: 10px;
  border-radius: 25px;
  background: transparent;
  border: 1px solid rgb(8, 145, 178);
  margin: 3px;
}
