.mobile-close-button {
  color: #fff;
  width: 100%;
  text-align: center;
  display: none;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(41, 52, 62);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 8px inset;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px;
  width: 100%;
  font-size: 12px;
  z-index: 99999999;
}

.mobile-close-button-label {
  margin-left: 5px;
}

.docsbot-user-chat-message-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  z-index: 99999999;
}

.docsbot-user-chat-message {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border: 0.5px solid rgb(197, 206, 214);
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
}

.docsbot-chat-bot-message-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
}

.docsbot-chat-bot-avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1.2rem;
  margin-right: 8px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.docsbot-chat-bot-avatar-icon {
  fill: #494646;
}

.docsbot-chat-bot-message {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  font-size: 0.9rem;
  color: #494646;
  font-weight: medium;
  position: relative;
  margin-left: auto;
  text-align: left;
  border: 0.5px solid rgb(197, 206, 214);
  overflow-wrap: break-word;
  overflow: hidden;
}

.docsbot-chat-suggested-questions-container {
  display: flex;
  margin-top: 7px;
  justify-content: flex-end;
}

.docsbot-chat-suggested-questions-container button {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border: 0.5px solid rgb(197, 206, 214);
  font-size: 0.9rem;
  color: #585858;
  font-weight: medium;
  position: relative;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
  cursor: pointer;
}

.docsbot-chat-suggested-questions-container button span {
  font-size: small;
  justify-items: left;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.docsbot-chat-bot-message-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
}

.docbot-chat-bot-message-rate {
  display: flex;
  align-items: center;
}

.docbot-chat-bot-message-rate button {
  opacity: 0.6;
}

.docbot-chat-bot-message-rate button:hover {
  opacity: 1;
}

.docbot-chat-bot-message-rate button:last-child {
  margin-left: 5px;
}

.docsbot-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.docsbot-chat-inner-container {
  height: 100%;
  background-color: rgb(249, 250, 250);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.docsbot-chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  color: #514f4f;
  padding: 15px 12.5px;
  text-align: justify;
  margin-bottom: 20px;
  background-color: #efefef;
}

.docsbot-chat-header-background-wrapper {
  height: 30px;
  position: absolute;
  left: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.docsbot-chat-header-background {
  border-radius: 50%;
  bottom: 0px;
  height: 3000px;
  left: 50%;
  position: absolute;
  transform: translateX(-1500px);
  width: 3000px;
  background-color: #efefef;
}

.docsbot-chat-header-content {
  z-index: 99999999;
}

.docsbot-chat-header h1 {
  font-size: 0.9rem;
  margin-top: 0;
  text-align: center;
}

.docsbot-chat-message-container {
  padding: 0 10px 0 10px;
  overflow: scroll;
  height: 100%;
}

.docsbot-chat-credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.docsbot-chat-credits a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  color: #a3a3a3;
  text-decoration: none;
}

.docsbot-chat-credits a:hover {
  color: #585858;
}

.docsbot-chat-credits a:hover img {
  opacity: 1;
}

.docsbot-logo {
  display: block;
  margin-left: 2px;
  opacity: 0.7;
}

.docsbot-chat-input-container {
  width: 100%;
  display: flex;
  border: none;
  border-top: 1px solid #d8d8d8;
  z-index: 99999999;
}

.docsbot-chat-input {
  width: 100%;
  padding: 12.5px 3px 12.5px 12.5px;
  border: none;
  font-size: 0.85rem;
}

.docsbot-chat-input:focus {
  outline: none;
}

.docsbot-chat-input-form {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.docsbot-chat-input::placeholder {
  color: #b3b3b3;
  opacity: 1;
}

.docsbot-chat-btn-send {
  background-color: #fff;
  padding-right: 12.5px;
  border: none;
  color: #b3b3b3;
  cursor: pointer;
}

.docsbot-chat-btn-send:focus {
  outline: none;
}

.docsbot-chat-btn-send:disabled {
  opacity: 0.5;
}

.docsbot-chat-btn-send-icon {
  width: 15px;
  margin: 0 auto;
}

.docsbot-chat-bot-message pre {
  overflow: scroll;
}

.docsbot-chat-bot-message p {
  margin-top: 0;
}

.docsbot-chat-bot-message p:last-child {
  margin-bottom: 0;
}

.docsbot-chat-bot-message button {
  border: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
  padding: 0;
  margin-top: 0.5em;
  cursor: pointer;
}

.docsbot-chat-bot-message .docsbot-sources svg {
  margin-right: 0.25em;
}

.docsbot-chat-bot-message .docsbot-sources {
  list-style: none;
  padding: 0;
  font-size: 90%;
}
.docsbot-chat-bot-message .docsbot-sources li {
  color: inherit;
  display: flex-inline;
  align-items: center;
}
.docsbot-chat-bot-message .docsbot-sources a {
  text-decoration: none;
  color: inherit;
}
.docsbot-chat-bot-message .docsbot-sources a:hover {
  text-decoration: underline;
}

.docsbot-chat-bot-message-support {
  display: flex;
  justify-content: end;
  margin-top: 15px;
}

.docsbot-chat-bot-message-support a {
  color: #4b4b4b;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border-radius: 25px;
  background: #e8e8e8;
  border: 0.5px solid rgb(145, 145, 145);
  opacity: 0.8;
}

.docsbot-chat-bot-message-support a:hover {
  opacity: 1;
}