.mobile-close-button {
  color: #fff;
  text-align: center;
  display: none;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(41, 52, 62);
  border-radius: 0px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -3px 8px inset;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 6px;
  font-size: 12.8px;
  z-index: 99999999;
}

.mobile-close-button-label {
  margin-left: 5px;
}

.docsbot-user-chat-message-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
}

.docsbot-user-chat-message {
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border: 0.5px solid rgb(197, 206, 214);
  font-size: 14.4px;
  line-height: 1.4;
  color: #585858;
  font-weight: medium;
  max-width: 280px;
  position: relative;
  text-align: left;
  overflow-wrap: break-word;
  overflow: hidden;
}

.docsbot-user-chat-message p {
  margin: 0;
}

.docsbot-chat-bot-message-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
}

.docsbot-chat-bot-avatar-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 19.2px;
  margin-right: 8px;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.docsbot-chat-bot-avatar-icon {
  fill: #494646;
}

.docsbot-chat-bot-message {
  background-color: #dadada;
  padding: 10px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 14.4px;
  line-height: 1.4;
  color: #494646;
  font-weight: medium;
  position: relative;
  margin-left: auto;
  max-width: 250px;
  text-align: left;
  border: 0.5px solid rgb(197, 206, 214);
  overflow-wrap: break-word;
  overflow: hidden;
}

.docsbot-chat-suggested-questions-container {
  margin-top: 7px;
  display: grid;
  position: absolute;
  padding: 20px;
  padding-right: 10px;
  bottom: 0;
  right: 0;
}

.docsbot-chat-suggested-questions-container span {
  font-size: 13px;
  font-weight: 500;
  text-align: right;
}

.docsbot-chat-suggested-questions-container button {
  color: #4b4b4b;
  font-size: 12.8px;
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 12.5px;
  background: #ffffff;
  border: 0.5px solid rgb(145, 145, 145);
  text-align: justify;
  overflow-wrap: break-word;
  cursor: pointer;
  margin-top: 5px;
  margin-left: auto;
}

.docsbot-chat-bot-message-meta {
  display: flex;
  justify-content: space-between;
  font-size: 11.2px;
}

.docbot-chat-bot-message-rate {
  display: flex;
  align-items: center;
  justify-content: end;
}

.docbot-chat-bot-message-rate button {
  opacity: 0.6;
}

.docbot-chat-bot-message-rate button:hover {
  opacity: 1;
}

.docbot-chat-bot-message-rate button:last-child {
  margin-left: 5px;
}

.docsbot-chat-bot-loading-icon-container {
  height: 17px;
  width: 25px;
}

.chatbot-loader-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#chatbot-loader #chatbot-loader-dot1 {
  animation: load 1s infinite;
}

#chatbot-loader #chatbot-loader-dot2 {
  animation: load 1s infinite;
  animation-delay: 0.2s;
}

#chatbot-loader #chatbot-loader-dot3 {
  animation: load 1s infinite;
  animation-delay: 0.4s;
}

@keyframes load {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.docsbot-chat-inner-container {
  height: 100%;
  background-color: rgb(249, 250, 250);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.docsbot-chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11.2px;
  color: #514f4f;
  padding: 15px 12.5px;
  text-align: justify;
  background-color: #efefef;
}

.docsbot-chat-header-background-wrapper {
  height: 30px;
  position: absolute;
  left: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  z-index: 99999998;
}

.docsbot-chat-header-background {
  border-radius: 50%;
  bottom: 0px;
  height: 3000px;
  left: 50%;
  position: absolute;
  transform: translateX(-1500px);
  width: 3000px;
  background-color: #efefef;
}

.docsbot-chat-header-content {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99999999;
}

.docsbot-chat-header-content button {
  border: 0;
  background: transparent;
  color: inherit;
  font-size: 14.4px;
  font-weight: bold;
  margin: 5px 0;
  padding: 0;
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.docsbot-chat-header h1 {
  font-size: 14.4px;
  margin: 5px 0;
  text-align: center;
}

.docsbot-chat-message-container {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 0 10px;
  overflow-y: scroll;
  height: 100%;
  position: relative;
}

.docsbot-chat-message-container-toggle {
  color: rgb(97, 96, 99);
  display: flex;
  font-size: 13px;
  font-weight: 500;
  justify-content: end;
  margin-top: 10px;
}

.docsbot-chat-message-container-toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.docsbot-chat-message-container-toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: #c2b0e2;
  display: block;
  border-radius: 100px;
  position: relative;
}

.docsbot-chat-message-container-toggle label:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.docsbot-chat-message-container-toggle input:checked+label {
  background: grey;
}

.docsbot-chat-message-container-toggle input:checked+label:after {
  right: calc(100% - 2px);
  transform: translateX(100%);
}

.docsbot-chat-message-container-toggle label:active:after {
  width: 20px;
}

.docsbot-chat-credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.docsbot-chat-credits a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9.6px;
  color: #a3a3a3;
  text-decoration: none;
}

.docsbot-chat-credits a:hover {
  color: #585858;
}

.docsbot-chat-credits a:hover img {
  opacity: 1;
}

.docsbot-logo {
  display: block;
  margin-left: 2px;
  opacity: 0.7;
}

.docsbot-chat-input-container {
  width: 100%;
  display: flex;
  border: none;
  border-top: 1px solid #d8d8d8;
}

.docsbot-chat-input {
  width: 100%;
  padding: 12.5px 3px 12.5px 12.5px;
  border: none;
  font-size: 13.6px !important;
  font: inherit;
  resize: none;
  overflow-y: hidden;
}

.docsbot-chat-input:focus {
  outline: none;
}

.docsbot-chat-input-form {
  width: 100%;
  display: flex;
  background-color: #fff;
}

.docsbot-chat-input::placeholder {
  color: #b3b3b3;
  opacity: 1;
}

.docsbot-chat-btn-send {
  background-color: #fff;
  padding-right: 12.5px;
  border: none;
  color: #b3b3b3;
  cursor: pointer;
}

.docsbot-chat-btn-send:focus {
  outline: none;
}

.docsbot-chat-btn-send:disabled {
  opacity: 0.5;
}

.docsbot-chat-btn-send-icon {
  width: 15px;
  margin: 0 auto;
}

.docsbot-chat-bot-message pre {
  overflow: scroll;
}

.docsbot-chat-bot-message p {
  margin-top: 0;
}

.docsbot-chat-bot-message p:last-child {
  margin-bottom: 0;
}

.docsbot-chat-bot-message button {
  border: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
}

.docsbot-chat-bot-message .docsbot-sources svg {
  margin-right: 4px;
}

.docsbot-chat-bot-message .docsbot-sources {
  list-style: none;
  padding: 0;
  font-size: 90%;
}

.docsbot-chat-bot-message .docsbot-sources li {
  color: inherit;
  display: flex-inline;
  align-items: center;
}

.docsbot-chat-bot-message .docsbot-sources a {
  text-decoration: none;
  color: inherit;
}

.docsbot-chat-bot-message .docsbot-sources a:hover {
  text-decoration: underline;
}

.docsbot-chat-bot-message-support {
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

.docsbot-chat-bot-message-support a {
  color: #4b4b4b;
  font-size: 12.8px;
  text-decoration: none;
  padding: 4px;
  border-radius: 5px;
  background: #F9FAFA;
  border: 0.5px solid #F9FAFA;
  opacity: 0.8;
  position: relative;
}

.docsbot-chat-bot-message-support a:hover {
  opacity: 1;
  border-radius: 0;
  border: 0.5px solid #F9FAFA;
  background-color: #F9FAFA !important;
}

.docsbot-chat-bot-message-support a::after {
  content: '';
  position: absolute;
  width: 100%;
  background-color: #c2b0e2;
  height: 2px;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.docsbot-chat-bot-message-support a:hover::after {
  transform: scale(1, 1);
  border-radius: 0;
}