name: Build and deploy Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x

    - name: Build
      run: |
        npm install
        npm run build
        
    - name: Deploy to BunnyCDN
      uses: ayeressian/bunnycdn-storage-deploy@v2.1.0
      with:
        source: "build"
        storageZoneName: "${{ secrets.STORAGE_NAME }}"
        storagePassword: "${{ secrets.STORAGE_PASSWORD }}"
        accessKey: "${{ secrets.STORAGE_KEY }}"
        pullZoneId: "${{ secrets.ZONE_ID }}"
        upload: "true"
        remove: "true"
        purgePullZone: "true"
    
    - name: Release
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.TOKEN }}
        tag: latest
        name: Latest Release
        allowUpdates: true
        makeLatest: true
        artifacts: build/chat.js
        artifactContentType: text/javascript
